@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

* {
margin: 0;
padding: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
}



body {

}

.plan-tier h4 {
margin-bottom: 12px;
font-size: 1.25em;
font-weight: 400;
text-transform: uppercase;
}

section.layer{
font-family: "Source Sans Pro", "helvetica", sans-serif;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: 16px;
color: rgba(39,65,90,1);
}

section.layer-new{
font-family: "Source Sans Pro", "helvetica", sans-serif;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: 16px;
color: rgba(39,65,90,1);
}

.plan-tier h5 {
font-size: 1.75em;
line-height:110px !important;
}

.plan-tier p {
margin-top: 1em;
margin-bottom: 1em;
color: rgba(39,65,90,.9);
font-size: 1.25em;
line-height: 1.625em;
}


.plan-tier ol, ul {
list-style: none;
}

body {
line-height: 1;
}

.plan-tier strong {
color: rgba(39,65,90,1);
font-weight: 600;
}


.layer {
clear: both;
width: 100%;
height: auto;
padding: 60px 7.5% 60px;
display: block;
}

.layer-new {
clear: both;
width: 100%;
height: auto;
display: block;
}

.layer > section, .layer > article {
clear: both;
width: 100%;
height: auto;
max-width: 1092px;
margin: 0 auto;
display: block;
}

.third {
width: 45%;
margin: 0 30px 50px 0;
display: inline-block;
}

.four{
	width: 30%;
	margin: 0 30px 50px 0;
	display: inline-block;
}


.five{
	width: 22%;
	margin: 0 10px 50px 0;
	display: inline-block;
}


.plan-tier {
background: white;
vertical-align: baseline;
border-radius: 3px;
-moz-border-radius: 3px;

overflow: hidden;
}

.featured-box{
	background-color:#9cd092 !important;
}

.lift {
position: relative;
-webkit-transition: all .075s ease-out;
-moz-transition: all .075s ease-out;
-o-transition: all .075s ease-out;
transition: all .075s ease-out;
}

.lift:hover {
top: -3px;
-webkit-box-shadow: 0 2px 6px rgba(39,65,90,.15);
-moz-box-shadow: 0 2px 6px rgba(39,65,90,.15);
box-shadow: 0 2px 6px rgba(39,65,90,.15);
}

.plan-tier h4 {
padding: 18px 0 15px;
margin: 0 0 50px;
background: #2980b9;
color: white;
}

.plan-tier {

}

.plan-tier sup {
position: relative;
right: 0px;
top:-40px;
}

.four sup {

top:-10px;
}


.five sup {

top:-10px;
}

.plan-tier ul {
margin: 30px 0 0;
border-top: 2px solid #e7f2f0;
}

.plan-tier ul li {
  border-bottom: 2px solid #e7f2f0;
  color: rgba(39, 65, 90, 0.9);
  font-size: 16px;
  line-height: 20px;
  padding: 15px 5px;
  list-style: none;
  margin: 0;
}

.plan-tier sup {
vertical-align: top;
}

.plan-tier .plan-price {
font-size: 5em;
font-weight: 300;
letter-spacing: -3px;
}


.four .plan-price {
font-size: 80px;
font-weight: 300;
letter-spacing: -3px;
}

.five .plan-price {
font-size: 80px;
font-weight: 300;
letter-spacing: -3px;
}

.plan-tier sub {
vertical-align: bottom;
position: relative;
bottom: .875em;
right:40px;
}


.four sub {

right:15px;
font-size:30px;
}

.five sub {

right:15px;
font-size:30px;
}

.plan-tier .early-adopter-price {
color: #0091e5;
}
p:first-of-type {
margin-top: 0;
}

.plan-tier small, del {
color: rgba(39,65,90,.5);
font-size: 1em;
line-height: 1.5em;
}

s, strike, del {
text-decoration: line-through;
}


.layer {
padding-top: 96px;
padding-bottom: 96px;
}

.layer-new {
padding-top: 96px;
padding-bottom: 96px;
}

.plan-tier h6 {
width: 100%;
padding: 15px 0 14px;
background: #7fb375;
color:#fff;
font-size: 1.25em;
}

.plan-tier.callout h4 {
background-color: #78b336;
}

.cart button {
  background-color: #2980b9;
  box-shadow: 0 3px 0 #1f6797;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: none;
  font-size: 14px;
  font-weight: bold;
  margin-right: 4px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
  width: auto;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
	.third {
		width: 90%;
		margin: 0 0 50px 0;
		display: inline-block;
	}
	.four {
		width: 90%;
		margin: 0 0 50px 0;
		display: inline-block;
	}

	.five {
		width: 90%;
		margin: 0 0 50px 0;
		display: inline-block;
	}
		h6{
		  margin: 0 0 0 0;
		  }
}

@media only screen and (min-width: 769px) and (max-width: 1139px){
	.five {
		width: 45%;
		margin: 0 30px 50px 0;
		display: inline-block;
	}

}
